/* HEADER */
.pets-header {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1280px;
  padding: 30px 40px;
  justify-content: space-between;
}

#logo-text {
  color: var(--color-dark-l);
}

.nav-list > li > a {
  color: var(--color-dark-l);
}

.nav-list > li > a:hover {
  color: var(--color-dark-3xl);
}

#active-link > a {
  color: var(--color-dark-3xl);
}

.logo-subtext {
  color: var(--color-dark-3xl);
}

@media (max-width: 900px) {
  .pets-header {
    padding: 30px;
  }
}

@media (max-width: 360px) {
  .pets-header {
    padding: 30px 20px;
  }
}

/* OUR FRIENDS */
.our-friends-section {
  gap: 45px;
}

.pets-cards {
  padding: unset;
  padding: 15px 0;
  justify-content: center;
  row-gap: 30px;
  column-gap: 40px;
  flex-wrap: wrap;
}

.pets-navigation {
  display: flex;
  gap: 20px;
}

/* buttons */
.btn-current-page {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;
  color: var(--color-dark-3xl);
}

.btn-first-page svg,
.btn-prev-page svg,
.btn-current-page svg,
.btn-next-page svg,
.btn-last-page svg {
  fill: var(--color-dark-3xl);
}

.btn-first-page,
.btn-prev-page,
.btn-current-page,
.btn-next-page,
.btn-last-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: solid 2px var(--color-primary);
  border-radius: 100px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.btn-first-page:hover,
.btn-prev-page:hover,
.btn-current-page:hover,
.btn-next-page:hover,
.btn-last-page:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.active {
  background-color: var(--color-primary);
}

.inactive svg {
  fill: var(--color-dark-s);
}

.inactive {
  border-color: var(--color-dark-s);
  pointer-events: none;
}

@media (max-width: 1100px) {
  .card-pet:nth-child(3) {
    display: flex;
  }
}

@media (max-width: 900px) {
  .our-friends-section {
    gap: 30px;
    padding-bottom: 76px;
  }

  .pets-cards {
    padding: 0;
  }

  .card-pet:nth-child(2) {
    display: flex;
  }

  .card-pet:nth-child(7),
  .card-pet:nth-child(8) {
    display: none;
  }

  .pets-navigation {
    margin-top: 10px;
  }
}

@media (max-width: 360px) {
  .pets-navigation {
    gap: 10px;
  }

  .card-pet:nth-child(4),
  .card-pet:nth-child(5),
  .card-pet:nth-child(6) {
    display: none;
  }

  .our-friends-section {
    gap: 42px;
    padding-bottom: 42px;
  }
  
  .pets-navigation {
    margin: 0;
  }
}
