* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  line-height: 130%;
  max-width: 310px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
  color: var(--color-dark-l);
  text-align: center;
}

.section-container {
  padding: 80px 40px 100px;
  max-width: 1280px;
  margin: auto;
}

/* styles */

:root {
  --color-primary: #f1cdb3;

  --color-dark: #cdcdcd;
  --color-dark-3xl: #292929;
  --color-dark-xl: #4c4c4c;
  --color-dark-l: #545454;
  --color-dark-m: #b2b2b2;

  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
}

/* START SCREEN */
.start-screen {
  background:
    radial-gradient(circle at 15% 10%, #5b483a 0%, #262425 100%),
    url('assets/bg/start-screen-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.start-screen-wrapper {
  margin: auto;
  max-width: 1280px;
  padding: 30px 40px 0;

  display: flex;
  flex-direction: column;
  gap: 90px;
  color: var(--color-light-xl);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#logo-text {
  color: var(--color-primary);
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 110%;
  letter-spacing: 6%;
  font-size: 2rem;
  font-weight: 500;
}

.logo-subtext {
  letter-spacing: 10%;
  font-size: 13px;
  font-weight: 500;
}

.nav-list {
  display: flex;
  gap: 35px;
}

.nav-list > li > a {
  line-height: 160%;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-dark);
}

#active-link > a {
  color: var(--color-light-xl);
}

#active-link {
  border-bottom: solid 3px var(--color-primary);
}

.start-section-wrapper {
  display: flex;
  justify-content: space-between;
}

.start-content {
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 460px;
}

.start-text {
  color: var(--color-dark);
  font-size: 15px;
  line-height: 160%;
}

.btn-main {
  display: flex;
  width: fit-content;
  padding: 15px 45px;
  color: var(--color-dark-3xl);
  background-color: var(--color-primary);
  border-radius: 100px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;
}

/* ABOUT */

.about-header {
  max-width: 370px;
}
.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-content > p {
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

/* OUR FRIENDS */
#our-friends {
  background-color: var(--color-light-l);
}

.our-friends-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.our-friends-header {
  max-width: 410px;
}

.our-friends-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 19px;
  border: solid 2px var(--color-primary);
  border-radius: 100px;
}

.btn-slider.right {
  transform: rotate(180deg);
}

.pets-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-pet {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--color-light-xl);
  border-radius: 9px;
}

.pet-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  letter-spacing: 6%;
  color: var(--color-dark-l);
}

.btn-pet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 45px;

  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;
  color: var(--color-dark-3xl);

  border: solid 2px var(--color-primary);
  border-radius: 100px;
}

/* HELP */
.help-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help-header {
  max-width: 308px;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.item-name {
  color: var(--color-dark-l);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;
}

/* IN ADDITION */
#in-addition {
  background-color: var(--color-light-l);
}

.in-addition-section > img {
  max-width: 505px;
  height: auto;
}

.in-addition-section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.in-addition-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}

.in-addition-header {
  text-align: start;
  max-width: 300px;
}

.bank-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 6%;
  color: var(--color-dark-l);
}

.credit-card-info {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  background-color: var(--color-primary);
  width: fit-content;
  border-radius: 9px;
}

.card-number {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;
  color: var(--color-dark-l);
}

.legal-info {
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: var(--color-dark-m);
  width: 100%;
}

/* FOOTER */

#footer {
  background:
    radial-gradient(circle at 15% 10%, #5b483a 0%, #262425 100%),
    url('assets/bg/start-screen-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-container {
  max-width: 1280px;
  margin: auto;
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}

.adress-info {
  max-width: 300px;
}
.contacts-info {
  max-width: 279px;
}

.adress-info,
.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-header {
  color: var(--color-light-xl);
  text-align: left;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
}

.footer-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

#footer-item-text {
  color: var(--color-primary);

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;
}
